@import "properties.scss";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: $tertiary-accent;
}

a:hover {
  color: $primary-accent;
}

body {
  background: $background;
  color: $text;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  text-align: center;
  min-width: fit-content;
}

.inline {
  display: inline;
}

.button-panel {
  display: flex;
  gap: 10px;
}

.button, button {
  font-size: 1.25rem;
  background-color: $primary-accent;
  color: $text;
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 2rem;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    border-color: $primary-accent;
  }
}

#main {
  width: 80%;
  margin: auto;
}

$tab-margin: 30px;

.pattern-holder {
  border: 1px solid $primary-accent;
  border-radius: 0.25rem;
  padding: 1rem 4rem 2rem 4rem;
  margin-top: 20px;

  .pattern {
    text-align: left;
    padding: 10px;
    width: 100%;
    columns: 2;
    column-gap: 60px;
    width: 100%;
  
    .line {
      break-inside: avoid-column;
    }
  }  
}